{% extends 'base.html' %}

{% block title %}About {% endblock title %} 

{% block body %} 
<div class="container my-5">
<h1 class='text-center' style="font-size:50px ">About H-fitness</h1>
<br>
<div class="">
        <p>
        <h5>H-fitness is our brand name of the business. We will provide
        the premium health & Fitness services to the population. Our
        business is based on the two simple facts which are as
        follow:</h5>
        </p>
</div>
<div class="">
        <p>» We are focused towards changing people's lifestyle by
        offering and educating area population.
        </p>
</div>
<div class="">
        <p>» Our concern is to provide premium health and fitness
        services in various location of Ahmedabad.
        </p>
</div>
<div class="">
        <p>At <strong>H-fitness</strong>, we tie population directly to
        the health and fitness issues. We believe that traditional
        approaches to the current health care alternative are point
        in the wrong direction. These traditional efforts are what
        we call sensitive, for example we wait until we have been
        stricken with illness or injury, and then pay for the
        necessary treatments. Our contemporary approach, which
        emphasizes prevention and good health and fitness promotion,
        is much more proactive.</p>
</div>
<div class="">
        <p>By helping Population, change their activity patterns and
        choose more healthy lifestyles, H-fitness will lower their
        health care expenditures, while raising healthy lifestyle.
        Better lifestyle will reduce stress and mental fatigue,
        boosts natural energy, Cure sleeping disorders, improves
        cardiovascular function, healthy appetite which also helps
        to reduce and control bodyweight and fat percentage etc.</p>
</div>
<div class="">
        <p><strong>H-fitness</strong> encourages and creates
        opportunities for people to design healthy lifestyle for
        self, their family and friends. We are agents of change, and
        we are dealing for Future Obesity, so we called ourselves
        FOPSA (Future Obesity Problem Solving Agents). High Tech age
        appropriate cardio equipment and health and fitness planning
        tools are utilised to improve individual wellbeing status
        with targeted personal interventions.</p>
</div>     
</div>
<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
		    <h1 >Our Vision</h1>
            <p style="font-family: Helvetica;font-weight: lighter;color:grey">To Become Premier Health & Fitness Service Provider</p>
		    <h1>Our Mission</h1>
		    <hr>
		    <p>
                H-fitness is more than fitness center; it's a part of
                lifestyle. At the H-fitness we are committed to the
                health and wellbeing of mind, body and spirit. We will
                deliver the best possible health & fitness solutions to
                our customers needs through fun,
                challenging and effective programs thereby being
                recognized as a unique and respected fitness resource
                for our clients.
            </p>
		</div>
		<div class="col-md-6">
		    <img src="/static/images/aboutimage.jpg" alt="">
		</div>
	</div>
</div>
</section>
{% comment %} 
<section class="team section">
    <div class="container">
        <h1 class="section-title" style='font-size:40px'>Our Team Section</h1>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/karolis-milisauskas-eoVdk1z4ihI-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>JOHNATHAN DOE</h3>
                                <p>BODY BUILDING PROGRAM</p>
                            </div>
                            <div class="social"> <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/gabin-vallet-JVnLqWGWVzs-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>NUTRITION COACH</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/andreea-boncota-ISQ8iBgjni8-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>KICK BOXING & KARATE</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/morgan-petroski-LsMxdW1zWEQ-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>ZUMMBA TRAINER</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/logan-weaver-8Yx3FaqlBPY-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>KICK BOXING & KARATE</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/damir-spanic-uytHnZAKNWQ-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>BODY BUILDING TRAINER</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/jesse-van-vliet-hFrHNE-VbFs-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>KICK BOXING & KARATE</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/damir-spanic-Cs73R4ZO50E-unsplash_2_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MATHEW DOE</h3>
                                <p>BODY BUILDING TRAINER</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure> <img src="http://www.simpleimageresizer.com/_uploads/photos/b1bff384/madison-lavern-CDJCAcAAPlU-unsplash_300x300.jpg" alt="">
                        <figcaption>
                            <div class="info">
                                <h3>MICHELLE ANDERSON</h3>
                                <p>YOGA AND PILATES TRAINER</p>
                            </div>
                            <div class="social">  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a> <a href="#" class="instagram" data-abc="true"><i class="fa fa-instagram"></i></a> </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>  {% endcomment %}


<div class="container">
<h1 class="text-center" style='font-size:40px'>Our Team Section</h1>
<hr>
   <div class="row clearfix">

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <img src="/static/images/about1.jpg" alt="">
               </div>
               <div class="lower-content">
                   <h3><a>JOHNATHAN DOE</a></h3>
                   <div class="designation">BODY BUILDING COACH</div>
               </div>
           </div>
       </div>

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a ><img src="/static/images/about7.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Amelie</a></h3>
                   <div class="designation">NUTRITION <br> COACH</div>
               </div>
           </div>
       </div>

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a ><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a><img src="/static/images/about4.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Miss Lee</a></h3>
                   <div class="designation">KICK BOXING & KARATE</div>
               </div>
           </div>
       </div>
   </div>
   </div>

   <div class="container">
   <div class="row clearfix">

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a ><img src="/static/images/about8.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Gemma</a></h3>
                   <div class="designation">ZUMMBA <br> TRAINER</div>
               </div>
           </div>
       </div>

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a><img src="/static/images/about5.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Ethan</a></h3>
                   <div class="designation">KICK BOXING & KARATE</div>
               </div>
           </div>
       </div>

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a ><img src="/static/images/about6.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Isaac</a></h3>
                   <div class="designation">BODY BUILDING COACH</div>
               </div>
           </div>
       </div>
   </div>
   </div>

<div class="container">
   <div class="row clearfix">

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a ><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a ><img src="/static/images/about2.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a >Brandon</a></h3>
                   <div class="designation">KICK BOXING & KARATE</div>
               </div>
           </div>
       </div>

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a ><img src="/static/images/about3.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Antonio</a></h3>
                   <div class="designation">BODY BUILDING COACH</div>
               </div>
           </div>
       </div>

       

       <!-- Team Block -->
       <div class="team-area col-lg-4 col-md-6 col-sm-12">
           <div class="inner-box">
               <ul class="social-icons">
                   <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-skype"></span></a></li>

                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
               </ul>
               <div class="image">
                   <a><img src="/static/images/about9.jpg" alt=""></a>
               </div>
               <div class="lower-content">
                   <h3><a>Eliana</a></h3>
                   <div class="designation">YOGA & PILATES COACH </div>
               </div>
           </div>
       </div>
   </div>
   </div>

<br>
<br>
<br>

<div class="container">
<h1 class="text-center" style='font-size:40px;'>H-fitness :By the numbers</h1>
<hr>
    <div class="row">
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-square"></i> <span class="counter">2147</span>
                <p>Square_feet_area</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-users"></i> <span class="counter">375</span>
                <p> Members</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-male"></i> <span class="counter">9</span>
                <p>Trainers</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"> <i class="fa fa-building"></i> <span class="counter">15</span>
                <p>Experience</p>
            </div>
        </div>
        
    </div>
</div>
<br>
<br>

<div class="container">
<h1 class='text-center'>Locate us</h1>
<hr>

<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.8294615891823!2d72.57923421485033!3d23.066713020465464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8388f433ca7f%3A0xf214641e7d2ded5c!2sRTO%20Ahmedabad!5e0!3m2!1sen!2sin!4v1622528789835!5m2!1sen!2sin"></iframe><a href="https://www.fridaynightfunkin.net/">Friday Night Funkin PC</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
</div>
    

{% endblock body %}


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.8294615891823!2d72.57923421485033!3d23.066713020465464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8388f433ca7f%3A0xf214641e7d2ded5c!2sRTO%20Ahmedabad!5e0!3m2!1sen!2sin!4v1622528789835!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>