{% extends 'base.html' %}

{% block title %}Services {% endblock title %} 

{% block body %} 

<div class="container my-5">
<h1 class="text-center" style='font-size:40px'>Our services</h1>
<hr>
    <div class="row">
      <!-- DEMO 4 Item-->
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services1.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span>1 on 1 personal training</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Motivation <br> Faster result <br>Lots of variations<br>Personalised workout<br>Exercise with knowledge <br></p>
          </div>
        </div>
      </div>
      
      <!-- DEMO 4 Item            -->
      <div class="col-lg-6">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services2.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span>FREE WEIGHTS</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Increase strength <br>Improve natural movments <br>Improve strength and balance</p>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
</div>

<div class="container my-5">

    <div class="row">
      <!-- DEMO 4 Item-->
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services3.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span> STRENGTH ZONE</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Reduce stress <br> Prevent injury<br>Reduce obesity<br>Help muscle toning </p>
          </div>
        </div>
      </div>
      
      <!-- DEMO 4 Item            -->
      <div class="col-lg-6">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services4.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span> WEIGHT LOSS</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Fat loss <br>Weight loss <br>Boost energy</p>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
</div>

<div class="container my-5">

    <div class="row">
      <!-- DEMO 4 Item-->
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services5.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span> GROUP FITNESS</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Motivation <br>Lots of fun <br>Reduce stress <br>Variety of classes <br>Structural choreograph</p>
          </div>
        </div>
      </div>
      
      <!-- DEMO 4 Item            -->
      <div class="col-lg-6">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services6.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span>FUNCTIONAL ZONE</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Sports specific  <br>Core strength <br>Improve posture<br>Improve muscle toning</p>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
</div>


<div class="container my-5">

    <div class="row">
      <!-- DEMO 4 Item-->
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services7.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span>PERSONAL LOCKER ROOM</h3>
            <p class="hover-4-description text-uppercase mb-0 small">RO plant<br>Steam bath facility <br> Secure personal locker</p>
          </div>
        </div>
      </div>
      
      <!-- DEMO 4 Item            -->
      <div class="col-lg-6">
        <div class="hover hover-4 text-white rounded"><img src="/static/images/services8.jpg" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-4-content">
            <h3 class="hover-4-title text-uppercase font-weight-bold mb-0"><span class="font-weight-light"> </span>BASEMENT PARKING</h3>
            <p class="hover-4-description text-uppercase mb-0 small">Offstreet parking<br>CCTV secure parking <br>Free basement parking</p>
          </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
</div>

<div class="demo10">
            <div class="container">
                <h1 class='text-center' style="font-size:40px">Price table</h1>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">3 months</h3>
                                <span class="price-value">
                                    <span class="currency">₹</span> 3000
                                    <span class="month"></span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Group training</li>
                                    <li>Diet plan</li>
                                    <li>Free trial</li>
                                    <li>Yoga</li>
                                    <li>No locker room access</li>
                                    <li>Free parking</li>
                                </ul>
                                <a href="/registration" class="read">register now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">6 months</h3>
                                <span class="price-value">
                                    <span class="currency">₹</span> 5000
                                    <span class="month"></span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Group training</li>
                                    <li>Diet plan</li>
                                    <li>Free trial</li>
                                    <li>Yoga</li>
                                    <li>No locker room access</li>
                                    <li>Free parking</li>
                                </ul>
                                <a href="/registration" class="read">register now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">12 months</h3>
                                <span class="price-value">
                                    <span class="currency">₹</span>9000
                                    <span class="month"></span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Personal training</li>
                                    <li>Diet plan</li>
                                    <li>Zumba,Yoga,Aerobics</li>
                                    <li>Complimentary fitness gear</li>
                                    <li>Locker room access</li>
                                    <li> Free parking</li>
                                </ul>
                                <a href="/registration" class="read">register now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                            
                                <h3 class="heading">18 months</h3>
                                <span class="price-value">
                                    <span class="currency">₹</span> 15000
                                    <span class="month"></span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>Personal traniing</li>
                                    <li>Diet plan</li>
                                    <li>Zumba,Yoga,Aerobics</li>
                                    <li>Complimentary Fitness Gear</li>
                                    <li>Locker room access</li>
                                    <li>Free parking</li>
                                </ul>
                                <a href="/registration" class="read">register now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %} 
